@import "../../conf.scss";

.menu-item {
    &__menu {
        color: $DETAILS_BLUE;
        font-size: 2rem !important;

        @media #{$BREAKPOINT-TABLET-LAND} {
            display: none !important;
        }
    }
}

.menu-logo {
    
    &__logo {
        margin: 10px auto 10px auto;
        width: 139px;
        margin-right: 25px;
    }
}

.menu-desk {
    display: none; 
    @media #{$BREAKPOINT-TABLET-LAND} {
        width: 100%;
        text-align: right;
        font-family:"Rival-Sans-Regular";
        display: block;
        font-size: 19px;
        *{
            color: #000 !important;
            text-decoration: none !important;
            margin-left: 15px;
        }

    }

    &__item:active, &__item:hover { 
        text-decoration: underline !important;
      } 
}

.underline {
    text-decoration: underline !important;
}

.div-empty {

    @media #{$BREAKPOINT-TABLET-LAND} {
        display: none;
    }
}

.MuiAppBar-colorPrimary {
    color: #000 !important;
    background-color: #fff !important;
}

.MuiToolbar-root {
    justify-content: space-between;

    @media #{$BREAKPOINT-TABLET-LAND} {
        max-width: 1000px;
        width: calc(100% - 30px);
        margin: 0 auto;
        justify-content: left;
    }
}

.MuiToolbar-gutters {
    @media #{$BREAKPOINT-TABLET-LAND} {
        padding-left: unset !important;
        padding-right: unset !important;
    }
}
