/*
|--------------------------------------------------------------------------
| Rodobravo color schema
|--------------------------------------------------------------------------
*/
    $BLUE_RODOBRAVO: #00377E;
    $ORANGE_RODOBRAVO: #C04700;
    $FOOTER_COLOR: #01295D;
    $ITENS_ORANGE: #FF5F00;
    $DETAILS_BLUE: #00449C;

/*
|--------------------------------------------------------------------------
| BREAKPOINTS
|--------------------------------------------------------------------------
*/

// Usage example:  @media #{$media-tablet}

$BREAKPOINT-DESK: 		        "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: 	    "only screen and (min-width: 960px)";
$BREAKPOINT-TABLET: 		    "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: 		"only screen and (min-width: 480px)";