/*
|--------------------------------------------------------------------------
| Rodobravo color schema
|--------------------------------------------------------------------------
*/
    $BLUE_RODOBRAVO: #00377E;
    $ORANGE_RODOBRAVO: #C04700;
    $FOOTER_COLOR: #01295D;
    $ITENS_ORANGE: #FF5F00;
    $ITENS_ORANGE_TWO: #EE5900;
    $DETAILS_BLUE: #00449C;

/*
|--------------------------------------------------------------------------
| BREAKPOINTS
|--------------------------------------------------------------------------
*/

// Usage example:  @media #{$media-tablet}

$BREAKPOINT-DESK: 		        "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: 	    "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: 		    "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: 		"only screen and (min-width: 480px)";
$BREAKPOINT-MOBILE-IPHONE-5S: 		"only screen and (min-width: 330px)";

/*
|--------------------------------------------------------------------------
| Background images
|--------------------------------------------------------------------------
*/

$VW13_180  : "../src/assets/imgs/vw13180.jpg";
$TEAM_RODOBRAVO  : "../src/assets/imgs/trabalho-em-equipe.jpg";
$AUTOTRACK  : "../src/assets/imgs/AutotracLogo.png";
$OMNILINK  : "../src/assets/imgs/omnilink.png";
$ZATIX : "../src/assets/imgs/zatix.png";
$SASCAR  : "../src/assets/imgs/sascar.jpg";
