/*
|--------------------------------------------------------------------------
| Rodobravo color schema
|--------------------------------------------------------------------------
*/
    $BLUE_RODOBRAVO: #00377E;
    $ORANGE_RODOBRAVO: #C04700;
    $FOOTER_COLOR: #01295D;
    $ITENS_ORANGE: #FF5F00;
    $ITENS_ORANGE_TWO: #C04700;
    $DETAILS_BLUE: #00449C;

/*
|--------------------------------------------------------------------------
| BREAKPOINTS
|--------------------------------------------------------------------------
*/

// Usage example:  @media #{$media-tablet}

$BREAKPOINT-DESK: 		        "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: 	    "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: 		    "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: 		"only screen and (min-width: 480px)";
$BREAKPOINT-MOBILE-IPHONE-5S: 		"only screen and (min-width: 330px)";

/*
|--------------------------------------------------------------------------
| Background images
|--------------------------------------------------------------------------
*/

$VW13_180  : "../src/assets/imgs/vw-quem-somos.jpg";
$TEAM_RODOBRAVO  : "../src/assets/imgs/trabalho-em-equipe.jpg";
$AUTOTRACK  : "../src/assets/imgs/autotrac1.png";
$OMNILINK  : "../src/assets/imgs/omnilink1.png";
$ZATIX : "../src/assets/imgs/zatix1.png";
$SASCAR: "../src/assets/imgs/sascar1.png";
$ABOUT_US  : "../src/assets/imgs/team-work.jpg";
$SERVICES  : "../src/assets/imgs/services.jpg";
$TRACKING  : "../src/assets/imgs/control.jpg";
$TRUCKS  : "../src/assets/imgs/trucks.jpg";
$CONTACT  : "../src/assets/imgs/contact.jpg";
$SERVICE_1  : "../src/assets/imgs/frota2.png";
$SERVICE_2  : "../src/assets/imgs/frota3.png";
$SERVICE_3  : "../src/assets/imgs/frota4.png";
$LOGO_RODO  : "../src/assets/imgs/logo-site.png";

/*
|--------------------------------------------------------------------------
| FROTA images
|--------------------------------------------------------------------------
*/

$FOTO1 : '../src/assets/imgs/frota/rodobravo-frota-1.jpeg' ;
$FOTO2 : '../src/assets/imgs/frota/rodobravo-frota-2.jpg' ;
$FOTO3 : '../src/assets/imgs/frota/rodobravo-frota-3.jpg' ;
$FOTO4 : '../src/assets/imgs/frota/rodobravo-frota-4.jpeg' ;
$FOTO5 : '../src/assets/imgs/frota/rodobravo-frota-5.jpeg' ;
$FOTO6 : '../src/assets/imgs/frota/rodobravo-frota-6.jpg' ;
$FOTO7 : '../src/assets/imgs/frota/rodobravo-frota-7.jpeg' ;
$FOTO8 : '../src/assets/imgs/frota/rodobravo-frota-8.jpeg' ;
$FOTO9 : '../src/assets/imgs/frota/rodobravo-frota-9.jpeg' ;
$FOTO10 : '../src/assets/imgs/frota/rodobravo-frota-10.jpg' ;
$FOTO11 : '../src/assets/imgs/frota/rodobravo-frota-11.jpg' ;
$FOTO12 : '../src/assets/imgs/frota/rodobravo-frota-12.jpg' ;
$FOTO13 : '../src/assets/imgs/frota/rodobravo-frota-13.jpeg' ;
$FOTO14 : '../src/assets/imgs/frota/rodobravo-frota-14.jpeg' ;
