

@font-face {
    font-family:"rival-sans";
    src:
    url("./fonts/rival-sans-woff2") format("woff2"),
    url("./fonts/rival-sans-woff.woff") format("woff"),
    url("./fonts/rival-sans-openType") format("opentype");
    font-style:normal;
    font-weight:100;
    }