.site-content {
    .page-content {

        .image-big {
            height: 100%;
            width: 100%;
            position: fixed;
            transition: all .2s linear;
            z-index: 5;
            left: -100vw;
            top: 50px; 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @media #{$BREAKPOINT-TABLET-LAND} {
                -webkit-transition: opacity .5s ease-in-out !important;
                -moz-transition: opacity .5s ease-in-out !important;
                -ms-transition: opacity .5s ease-in-out !important;
                -o-transition: opacity .5s ease-in-out !important;
                left: -100vw;
                opacity: 0;
             }

            &__area {
                display: flex;
                flex-direction: column;
                overflow: auto;
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                padding: 0;
                bottom: 0;
                background: rgba(0,0,0,.9);
            

                &__imgSpace {
                    width: 100%;
                    margin: 20px auto 0 auto;

                    @media #{$BREAKPOINT-TABLET-LAND} {
                        position: relative;
                        max-width: 50%;
                        max-height: 50%;
                        bottom: 10px;
                        margin: 100px auto 0 auto;
                    }

                    img {
                        width: 100%;
                    }

                    &__close {
                        position: absolute;
                        z-index: 7;
                        color: white;
                        right: 0;
                        top: -30px;
                        cursor: pointer;
                    }

                    span {
                        max-width: 80%;
                        margin: 20px auto 0 auto;
                        color: white;

                        p {
                            font-size: 14px;
                            color: $DETAILS_BLUE;
                        }
    
                    }

                    .foto-legend {
                        width: calc(100% - 40px);
                        margin: 20px auto 0 auto;
                    }
                }

            }
        }
    }
}

.FrotaRodobravo1 {
    background-image: url($FOTO1);
}
.FrotaRodobravo2 {
    background-image: url($FOTO2);
}
.FrotaRodobravo3 {
    background-image: url($FOTO3);    
}
.FrotaRodobravo4 {
    background-image: url($FOTO4);    
}
.FrotaRodobravo5 {
    background-image: url($FOTO5);    
}
.FrotaRodobravo6 {
    background-image: url($FOTO6);    
}
.FrotaRodobravo7 {
    background-image: url($FOTO7);    
}
.FrotaRodobravo8 {
    background-image: url($FOTO8);    
}
.FrotaRodobravo9 {
    background-image: url($FOTO9);    
}
.FrotaRodobravo10 {
    background-image: url($FOTO10);    
}
.FrotaRodobravo11 {
    background-image: url($FOTO11);    
}
.FrotaRodobravo12 {
    background-image: url($FOTO12);    
}

.open-foto-transform {
    transform: translateX(100vw);

    @media #{$BREAKPOINT-TABLET-LAND} {
        transform: translateX(100vw) !important;
        opacity: 1 !important;
        -webkit-transition: opacity .5s ease-in-out !important;
        -moz-transition: opacity .5s ease-in-out !important;
        -ms-transition: opacity .5s ease-in-out !important;
        -o-transition: opacity .5s ease-in-out !important;
        
     }
}

.foto-open {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#button-menu {
    outline: 0px auto -webkit-focus-ring-color;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 37px;
    height: 3px;
    background-color: $DETAILS_BLUE;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: $DETAILS_BLUE; 
}

.hamburger {
    padding: unset;
    cursor: unset;
}

.frota-notShow {
    display: none;
}

.hamburger.is-active:hover {
    opacity: 1;
}

.hamburger:hover {
    opacity: 1;
}

