.rodopin {
    background-image: url($LOGO_RODO);
    width: 70px;
    height: 70px;
    margin: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 121px;
    background-color: white;
}