.App {
    .site-content {
        .page-content {


            &__top {
                @media #{$BREAKPOINT-TABLET-LAND} {
                    display: flex;
                    justify-content: space-between;
                }

                &__item {

                    @media #{$BREAKPOINT-TABLET-LAND} {
                        max-width: 300px;
                    }

                    &__contact {
                        display: flex;
                        flex-direction: column;
        
                        &__social {
        
                            @media #{$BREAKPOINT-TABLET-LAND} {
                                display: none;
                            }
        
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: center;
                            align-content: center;
                            margin-top: 30px;
        
                            &__item {
                                width: 60px;
                                height: 60px;
                                border-radius: 60px;
                                text-align: center;
                                background-color: white;
                                box-shadow: 1px 2px 4px rgba(0, 0, 0, .6);
                                
                                svg {
                                    width: 25px;
                                    font-size: 2.5em;
                                    margin-top: 12px;
                                    color: $DETAILS_BLUE;
                                }
                            }
        
                            &__item:hover {
                                background-color: $FOOTER_COLOR;
        
                                svg {
                                    color: white;   
                                }
                            }
                        }

                        &__item {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            &__button {
                                width: 200px;
                                height: 50px;
                                background-color: $DETAILS_BLUE;
                                font-family: Rival-Sans-Bold;
                                color: #fff;
                                font-size: 20px;
                                border-radius: 3px;
                                border: none;
                                margin: 20px auto;
                                outline: 0px auto -webkit-focus-ring-color;
                            }
            
                            &__button:hover {
                                background-color: $FOOTER_COLOR;
                            }
                        }
                    }
                }
            }

            p {
                font-family: Roboto;
                font-size: 18px;
            }

            &__map {
                display: flex;
                justify-content: center;

                img {
                    max-width: 275px;
                }
            }

            &__service-cards {
                &__list {
                    @media #{$BREAKPOINT-TABLET-LAND} {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 60px;
                    }
                    &__item {
                        width: 100%;
                        height: 568px;
                        background-color: transparent;
                        position: relative;

                        @media #{$BREAKPOINT-TABLET-LAND} {
                            width: 287px;
                            height: 532px;
                        }

                        &__circle {
                            top: 70px;
                            background: radial-gradient(circle closest-side, $ITENS_ORANGE_TWO 0%, $ITENS_ORANGE_TWO 98%,rgba(0,0,0,0) 100%);
                            width: 160px;
                            height: 160px;
                            margin: 10px;
                            z-index: 2;
                            position: absolute;
                            left: 0;
                            right: 0;
                            margin-left: auto;
                            margin-right: auto;

                            img {
                                max-width: 50%;
                                margin: 25% 0 0 25%;
                            }
                        }

                        span {
                            position: absolute;
                            width: 80%;
                            z-index: 3;
                            top: 50%;
                            left: 0;
                            right: 0;
                            margin-left: auto;
                            margin-right: auto;
                            font-family: Roboto;
                            text-align: center;
                            font-size: 20px;
                            color: white;

                            @media #{$BREAKPOINT-TABLET-LAND} {
                                width: 80%;
                            }
                        }

                        &__button {
                            z-index: 3;
                            position: absolute;
                            bottom: 50px;
                            width: 200px;
                            height: 50px;
                            background-color: $ITENS_ORANGE;
                            font-family: Rival-Sans-Bold;
                            color: #fff;
                            font-size: 20px;
                            border-radius: 3px;
                            border: none;
                            left: 0;
                            right: 0;
                            margin-left: auto;
                            margin-right: auto;
                            outline: 0px auto -webkit-focus-ring-color;
                        }

                        &__button:hover {
                            background-color: $ORANGE_RODOBRAVO;
                        }

                        &__card {
                            background-color: $DETAILS_BLUE;
                            position: absolute;
                            width: 100vw;
                            height: 100%;
                            left: -20px;
                            top: 0;
                            z-index: 1;
                            border-bottom: 13px dashed#fff;

                            @media #{$BREAKPOINT-TABLET-LAND} {
                                position: relative;
                                width: 100%;
                                left: 0;
                                border-bottom: none;
                                border-radius: 7px;
                            }
                        }
                    }

                }


            }

                
        }

    }
}

.secs {
    border-bottom: none !important;
}

.top {
    margin-top: 60px;
    @media #{$BREAKPOINT-TABLET-LAND} {
        margin-top: 0px;
    }
}

.span-map {

    display: flex;
    justify-content: center;
    align-items: center;

    span {
        margin-top: 30px;
    }
}

.h1-map {
    h1 {
        @media #{$BREAKPOINT-TABLET-LAND} {
            width: 600px;
        }
    }
}