.pageHeader {
    position: relative;
    width: 100%;
    height: 290px;
    margin-bottom: 40px;

    &__text {
        text-align: center;
        position: absolute;
        color: white;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 115px;
        font-family: 'Rival-Sans-Bold';
        font-size: 40px;
        z-index: 2;

        @media #{$BREAKPOINT-TABLET-LAND} {
            font-size: 75px;
            margin-top: 80px;
        }
    }

    .slide-gradiente {
        display: block;
        position: absolute;
        background-image: linear-gradient(to bottom, transparent, black 100%);
        height: 290px;
        width: 100%;
        margin-top: unset;
        content: '';
        z-index: 1;
    }

    &__img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #about-top {
        background-image: url($ABOUT_US);
    }
    #contact-top {
        background-image: url($CONTACT);
    }
    #trucks-top {
        background-image: url($TRUCKS);
    }
    #tracking-top {
        background-image: url($TRACKING);
    }
    #services-top {
        background-image: url($SERVICES);
    }
}
