.footer {
    padding: 25px 0 10px 0;
    height: 273px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $FOOTER_COLOR;

    @media #{$BREAKPOINT-TABLET-LAND} {
        height: 350px;
        align-items: unset;
        position: absolute;
        bottom: 0;
    }

    &__social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;

        @media #{$BREAKPOINT-TABLET-LAND} {
            justify-content: left;
            order: 3;
        }

        a {
            color: white;
            text-decoration: none;
        }

        &__facebook-icon {
            margin-right: 30px;

            @media #{$BREAKPOINT-TABLET-LAND} {
                margin-left: 50px;
            }
        }

        &__instagram-icon {
            margin-right: 30px
        }

        &__linkedin-icon {
            margin-right: 0 !important;
        }
    }
    
    &__button {
        height: 45px;
        margin: 19px auto 25px auto;

        @media #{$BREAKPOINT-TABLET-LAND} {
            display: none;
        }

        &__contact {
        width: 240px;
        height: 100%;
        background-color: $DETAILS_BLUE;    
        border-top-color: #707070;
        border-style: outset;
        border-width: 1px;
        border-radius: 6px;
        font-family: Rival-Sans-Bold;
        color: #fff;
        font-size: 20px;
        }

        &__contact:hover {
            background-color: #001C41;
        }
    }

    &__divider {
        margin: 0 0 10px 0;

        @media #{$BREAKPOINT-TABLET-LAND} {
            order:2;
        }

        &__line {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #707070;
            padding: 0;
            width: 90vw;

            @media #{$BREAKPOINT-TABLET-LAND} {
                width: 175px;
                float: left;
                margin: 0 0 0 33px;
            }
        }
    }

    &__logo {
        margin-bottom: 17px;

        @media #{$BREAKPOINT-TABLET-LAND} {
            order:1;
            margin: 0 0 0 50px;
        }

        &__img {
            width: 143px;
        }
    }


    &__menu{
        display: none;
        @media #{$BREAKPOINT-TABLET-LAND} {
            display: flex;
            flex-direction: column;
            order: 4;
            margin: 22px 0 0 30px;
            line-height: 29px;
            font-family: "Rival-Sans-Regular";
            font-size: 14px;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    &__copyright {
        width: 100%;
        text-align: center;
        color: #fff;
        font-family: Rival-Sans-ExtraLight;
        font-size: 15px;

        @media #{$BREAKPOINT-TABLET-LAND} {
            order:5;
        }
    }
}

