.site-content {
    .page-content {

        &__logos {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            div {
                width: 120px;
                height: 150px;
                margin-top: 10px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                @media #{$BREAKPOINT-TABLET-LAND} {
                    margin-top: 50px;
                }
            }

            #logo1 {
                background-image: url($AUTOTRACK);
            }

            #logo2 {
                background-image: url($OMNILINK);
            }

            #logo3 {
                background-image: url($SASCAR);
            }

            #logo4 {
                background-image: url($ZATIX);
            }
        }

    }
}