body {
    @media #{$BREAKPOINT-TABLET-LAND} {
        overflow: auto !important;
    }
}

#menu-slide-bar{
    background-color: #fff;
    height: 100%;
    width: 320px;
    position: absolute;
    transition: all .2s linear;
    z-index: 1;
    left: -320px;

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;

        a {
            text-decoration: none;
            color: #000;
            font-family: 'Rival-Sans-Regular';
            font-size: 24px;
            margin-bottom: 18px;
            margin-left: 15px;
        }
    }

    &__link {
        padding: 20px;
        transition: all .2s linear;
        font-family: Arial;
        font-size: 12px;
        color: #f4f4f9;
        border-bottom: 2px solid;
    }

    &__link:hover {
        background-color: #050542;
    }

    &__footer {
        background-color: $FOOTER_COLOR;
        width: 100%;
        height: 100vh;

        #icons {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            
            .footer__facebook-icon {
                font-size: 1em;
            }

            div {
                margin-right: 30px;
            }

            a {
                color: #fff;
            }
        }

        #footer-info {
            display: flex;
            flex-direction: column;
            margin-left: 15px;

            div {
                a {
                    align-items: center;
                    display: flex;
                    flex-direction: row;

                    svg {
                    margin-right: 10px;
                    font-size: .7em;
                    color: $ITENS_ORANGE;
                    }

                    p {
                        font-size: 14px;
                        color: #fff;
                    }
                }
            }

            .footer-info__phone {
                max-height: 25px;
            }

            .footer-info__mail {
                max-height: 25px;
            }

            .footer-info__map {
                max-height: 25px;
            }
        }
    }
}

input#menu-slide:checked ~ div#menu-slide-bar {
    transform: translateX(320px);

    @media #{$BREAKPOINT-TABLET-LAND} {
        transform: translateX(-320px);
    }
}

#menu-slide {
    // top: 87px;
    // position: absolute;
    // z-index: 2;
    display: none;
}
