// body {
    // padding-right: 0 !important; 
    // overflow-y: unset !important;
// }

.teste-open {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.css-1rbq2qy {
    z-index: 3 !important;
}

.react-photo-gallery--gallery {
    margin-bottom: 80px !important;

    @media #{$BREAKPOINT-TABLET-LAND} {
        margin-bottom: 150px !important;
    }


}

.react-images__header_button {
    top: 80px;
}