.App {
    @media #{$BREAKPOINT-TABLET} {
        position: relative;
        min-height: 100vh;
    }

    .site-content{
        .page-content {
            max-width: 600px;
            width: calc(100% - 40px);
            margin: 0 auto;

            @media #{$BREAKPOINT-TABLET} {
                max-width: 1000px;
                width: calc(100% - 30px);
                margin: 0 auto;
               
            }
        }

        .titles {
            margin-top: 60px;
            margin-bottom: 30px;
            font-family: Roboto-Bold;
            font-size: 30px;
            text-align: center;
            color: $DETAILS_BLUE;
        }

        @media #{$BREAKPOINT-TABLET} {
            padding-bottom: 350px;
           
        }
    }
}


.last {
    margin-bottom: 80px !important;
    @media #{$BREAKPOINT-TABLET-LAND} {
        margin-bottom: 150px !important;
       
    }
}

span {
    font-family: Roboto;
    font-size: 18px;

    @media #{$BREAKPOINT-TABLET-LAND} {
        font-size: 26px;
    }
}
