/*
|--------------------------------------------------------------------------
| Rodobravo color schema
|--------------------------------------------------------------------------
*/
    $BLUE_RODOBRAVO: #00377E;
    $ORANGE_RODOBRAVO: #C04700;
    $FOOTER_COLOR: #01295D;
    $ITENS_ORANGE: #C04700;
    $ITENS_ORANGE_TWO: #FF5F00;
    $DETAILS_BLUE: #00449C;

/*
|--------------------------------------------------------------------------
| BREAKPOINTS
|--------------------------------------------------------------------------
*/

// Usage example:  @media #{$media-tablet}

$BREAKPOINT-DESK: 		        "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: 	    "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: 		    "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: 		"only screen and (min-width: 480px)";
$BREAKPOINT-MOBILE-IPHONE-5S: 		"only screen and (min-width: 330px)";

/*
|--------------------------------------------------------------------------
| Background images
|--------------------------------------------------------------------------
*/

$VW13_180  : "../src/assets/imgs/vw-quem-somos.jpg";
$TEAM_RODOBRAVO  : "../src/assets/imgs/trabalho-em-equipe.jpg";
$AUTOTRACK  : "../src/assets/imgs/autotrac1.png";
$OMNILINK  : "../src/assets/imgs/omnilink1.png";
$ZATIX : "../src/assets/imgs/zatix1.png";
$SASCAR: "../src/assets/imgs/sascar1.png";
$ABOUT_US  : "../src/assets/imgs/team-work.jpg";
$SERVICES  : "../src/assets/imgs/services.jpg";
$TRACKING  : "../src/assets/imgs/control2.jpg";
$TRUCKS  : "../src/assets/imgs/trucks.jpg";
$CONTACT  : "../src/assets/imgs/contact.jpg";
$SERVICE_1: "../src/assets/imgs/rodobravo-transferencias.jpg";
$SERVICE_2: "../src/assets/imgs/rodobravo-express.jpg";
$SERVICE_3  : "../src/assets/imgs/rodobravo-farmacos.jpg";
$LOGO_RODO  : "../src/assets/imgs/logo-web.png";
